.hero-list {
  list-style-type: none;
}


.hero-list li {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-list li:hover {
  background-color: #f0f0f0;
}

.load-more {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  gap: 20px;
}

.pagination-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}